header{
    border-bottom:solid 1px #e6e6e6;
    
    .admin-img{
        width: 35px;
    }
    .header-nav{
        float: right;
    }
    .el-menu--horizontal{
        border-bottom: 0;
    }
}
.el-header{
    padding:0;
}