.el-aside{
    height: 100vh;
    position: fixed;
    left: 0;
    top:0;
    overflow-y: scroll;
    z-index: 999;
    background:#36364c;
} 
.el-menu-item-group__title{
    padding:0!important;
}
.el-menu--popup{
    padding:0 !important;
}
.logo-tit,.logo-tit .el-submenu__title{
    background:#35384C;
    height:55px;
    line-height: 55px;
}
 
.logo{
    height: 60px;
    z-index: 9999;
    .logo-img{ 
        cursor: pointer;
        height: 26px;
        padding-top: 15px;
        padding-left: 113px;
    } 
    .toggle-icon{
        position: fixed;
        left: 22px;
        font-size: 20px;
        color:#fff;
        padding-top: 20px;
        cursor: pointer;
    }
    
}
.el-menu-vertical-demo{
    &> li:first-child{
        div{
            height:60px !important; 
        }
        .el-submenu__icon-arrow {
            display:none;
        }
    }
}